<!DOCTYPE html>
<html>
<head>
	<title>Awards</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<h1>My Student Portfolio</h1>
		<h3>My Awards</h3>
		<p>It's time to flatter yourself! Create a complete profile of your awards for colleges and employers to get a full picture of you!</p>

		<ul>
			<% @awards.each do |award| %>
			<li><%= award.description %>&nbsp;<%= award.date %> - <a href="/<%= award.id %>/edit">Edit</a></li>
			<% end %>
		</ul>

		<form role="form" action="/student/awards" method="post">
			<div class="form-group">
		    <label for="exampleInputAward">Your Award Name</label>
		    <input type="text" id="name" name="name" class="form-control" placeholder="Your Award Name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputOrganization">Your Awarding Organization</label>
		    <input type="text" id="organization" name="organization" class="form-control" placeholder="Your Awarding Organization">
		  </div>
		  <div class="form-group">
		  	<label for="exampleInputAward">Your Award Description</label>
		    <input type="text" id="description" name="description" class="form-control" placeholder="Your Award Description">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputAwardDate">Award Date</label>
		    <input type="date" id="date" name="date" value="mm-yyyy"  class="form-control" placeholder="mm-yyyy">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">Documentation</label>
		    <input type="file" id="exampleInputFile">
		    <p class="help-block">Please upload a PDF documenting your award.</p>
		  </div>
<!-- 		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Check me out
		    </label>
		  </div> -->
		  <input type="submit" button type="button" class="btn btn-primary btn-lg btn-block" value="Add Award Now">
		</form>

<!-- 			<div class="dropdown">
			  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    Dropdown
			  <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Elementary</a>
			    </li>
			    <li role="presentation">
			    	<a role="menuitem" tabindex="-1" href="#">Middle School</a>
			    </li>
			    <li role="presentation">
			    	<a role="menuitem" tabindex="-1" href="#">High School</a>
			    </li>
			    <li role="presentation">
			    	<a role="menuitem" tabindex="-1" href="#">College</a>
			    </li>
			    <li role="presentation">
			    	<a role="menuitem" tabindex="-1" href="#">Graduate</a>
			    </li>
			  </ul>
			</div> -->

</body>
</html>